@media (min-width: 950px) {
    // header
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .text-header-container {
        display: flex;
        gap: 24px;
    
    }
    // main
    .section-img-container img {
      width: 400px;
    }
    .grid-container {
     display: grid;
     grid-template-columns: 1fr 1fr;
     
 
    }
   
    .button-price-container {
          display: grid;
             align-items: center;
    
          grid-gap: 10px;
        a {
         width: 200px;
        
        }
    }
    .section1-container {
      text-align: justify;
      h2 {
        font-size: 5em;
      }
    }
    // section
    .image-container::before  {
        background-size: contain!important;
    }
   .article-section-container h2 {
       font-size: 3.5em;
   }

}
@media (min-width: 1200px) {
    .checks-container {
        display: flex;
        justify-content: space-around ;
    }
    .section-img-container img {
        width: 400px;
      }
    .grid-container:nth-of-type(2) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 90vh;
       }
       .image-2 {
           width: 450px!important;
       }
}
@media (max-width: 650px) {
    .read-more-button {
        padding: 10px 30px!important;
    }
    .button-price-container{
    display: grid;
    align-items: center;
  
    a {
        width: 300px;
    }
 }
 .section-img-container {
   position: relative;
   height: 400px;
   max-width: 100%;
   width: 100%;
   margin: 0 auto;
   .image-container::before {
       background-size: contain;
   }
  .image-2 {
      width: 320px!important;
  }

}
// article 

}
