@media (min-width: 950px) {
    // header
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .text-header-container {
        display: flex;
        gap: 24px;
    }
    // main
    .grid-container  {
   max-width: 1024px;
    width: 90%;
     display: grid;
     grid-template-columns: 1fr 1fr;
   
    }
    
  

    .section1-container {
      text-align: justify;
      h2 {
        font-size: 5em;
      }
    }
    // section
    .image-container::before  {
        background-size: contain!important;
    }
   .article-section-container h2 {
       font-size: 3.5em;
   }

}
@media (min-width: 1200px) {
    .grid-container  {
        max-width: 1224px;
        
    }
    .button-price-container {
        max-width: 50%;
        display: flex;
        justify-content: space-around;
    }
    .checks-container {
        display: flex;
        justify-content: space-around ;
    }
    .section-img-container img {
        width: 400px;
      }
    .grid-container:nth-of-type(2) {
        display: grid;
        grid-template-columns: 1fr fr;

       }
       .image-2 {
           width: 450px!important;
            
       }
}
@media (max-width: 650px) {
    .read-more-button {
        padding: 10px 30px!important;
    }
    .button-price-container{
    display: grid;
    align-items: center;
  
   button {
        width: 300px;
    }
 }
 .section-img-container {
   position: relative;
   height: 400px;
   max-width: 100%;
   width: 100%;
   margin: 0 auto;
   .image-container::before {
       background-size: cover;
   }


}


}
