@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Josefin+Sans:wght@400;500;600;700&display=swap');
@import "variables";
@import "header";
@import "nav";
@import "main";
@import "article";
@import "media";


* {
  margin: 0;
  padding: 0;
 
}
body {
  font-family: 'Josefin Sans', sans-serif;
 
}

